/* this document governs css for both v_users_signup.php and v_users_p_signup.php */

/* signup */


.form {
    color:white;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;

}

label {
    font-size: small;
}

/* p_signup */

#signed_up {
    color:white;
    font-family:Arial, sans-serif;

}